@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(212, 45%, 89%);
  --container-color: hsl(0, 0%, 100%);
  --main-text-color: hsl(218, 44%, 22%);
  --secondary-text-color: hsl(216, 15%, 48%);

  --shadow-soft: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  background: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 20rem;
  padding: min(1rem, 3vw);
  border-radius: 1.25em;
  background: var(--container-color);
  box-shadow: var(--shadow-soft);
}

.img-content {
  width: 18em;
}

.img-content img {
  width: 100%;
  border-radius: 0.625em;
  margin-block-end: min(1.5rem, 5vh);
}

.text-content {
  width: 18em;
  padding: 0 1em;
  text-align: center;
  margin-block-end: min(1.5rem, 5vh);
}

.text-content h1 {
  font-size: 1.375rem;
  line-height: 1.2;
  margin-block-end: 1em;
  font-weight: 700;
  color: var(--main-text-color);
}

.text-content p {
  font-size: 0.9375rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary-text-color);
}
